html, body {
	background-color: #111111;
	color: #ffffff;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 400;
}

::-moz-selection {
	background-color: #ffffff;
	color: #111111;
}

::selection {
	background-color: #ffffff;
	color: #111111;
}

.container {
	width: 40%;
	max-width: 600px;
	margin: auto;
}

.section {
	margin: 10rem 0;
	font-weight: 400;
	letter-spacing: .5px;
	line-height: 1.8;
}

.serif {
	font-family: 'IBM Plex Serif', serif;
}

.bold {
	font-weight: 700;
}

.regular {
	font-weight: 400;
}

.opacity-point-seven {
	opacity: .7;
}

a {
	text-decoration: underline;
	color: #ffffff;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

a:hover {
	color: #f42a56;
	opacity: 1;
}

.header {
	letter-spacing: 3px;
	opacity: .6;
}

ul {
	list-style: none;
	padding-left: 0;
}


.half-col{
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

.footer {
	opacity: .5;
	letter-spacing: 1px;
}

@media screen and (max-width: 840px) {
	.container {
		width: 90%;
	}
	
	.section {
		margin: 5rem 0;
	}
}